.character-detail {
  font-size: 2rem;
  color: salmon;
  text-align: center;
}

.card-detail {
  display: flex;
  position: relative;
  height: 45vh;
  background-color: lightgrey;
}

.card-detail.gryffindor {
  background-color: darkred;
  color: ghostwhite;
}
.card-detail.slytherin {
  background-color: darkgreen;
  color: ghostwhite;
}
.card-detail.hufflepuff {
  background-color: darkgoldenrod;
  color: ghostwhite;
}
.card-detail.ravenclaw {
  background-color: darkblue;
  color: ghostwhite;
}

.card-detail-image {
  width: 30vw;
  margin: 10px;
  height: 240px;
  object-fit: cover;
}

.card-detail-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

dl {
  display: flex;
  gap: 5px;
  align-items: center;
}
dt {
  text-decoration: underline;
  font-size: 1rem;
}

.container-alternative-names {
  display: block;
}

.alternate-names::before {
  content: "•";
}

.back {
  position: absolute;
  top: 295px;
  right: 25px;
  text-decoration: underline;
  color: gainsboro;
}

.back::before {
  content: "⟪";
  font-weight: bold;
}
