@use "./core/reset";
@use "./components/landing-page";
@use "./components/card-detail";
@use "./components/list-detail";
@use "./components/character-detail";

:root {
  margin: 2vh 5vw;
}

body {
  background-color: grey;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 55vw;
}

.books-img {
  display: block;
  margin-bottom: 50px;
  margin-inline: auto;
  width: 25vw;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

@media (min-width: 768px) {
  :root {
    margin: 20px 20px;
  }

  .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards {
    width: 200px;
  }

  .card-detail-image {
    width: 150px;
    margin: 20px;
  }

  .card-detail {
    display: flex;
    position: relative;
    height: 320px;
    width: 730px;
  }

  .card-detail-container {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .container-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }

  .input-and-selects {
    display: flex;
    align-items: center;
    margin: 10px;
  }
}
