@use "./core/reset";

:root {
  margin: 2vh 5vw;
}

body {
  background-color: grey;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 55vw;
}

.books-img {
  display: block;
  margin-bottom: 50px;
  margin-inline: auto;
  width: 25vw;
}

form {
  max-width: 400px; /* o el ancho que quieras */
  margin: 2rem auto; /* centrado horizontal */
}

label {
  width: 200px; /* Ancho fijo para que queden alineados */
  text-align: left;
  font-weight: 600;
  color: ghostwhite;
}

.input-and-selects {
  display: flex;
  align-items: center;
  margin: 5px;
}

input,
select {
  margin: 5px;
  border: solid 3px black;
  background-color: grey;
  height: 25px;
  color: ghostwhite;
  width: 30vw;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 15vw;
  height: 5vh;
  border: solid 3px black;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cards {
  list-style-type: none;
  width: 40vw;
  margin-bottom: 20px;
  border: solid 5px #808b96;
  background-color: #808b96;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

.cards.gryffindor {
  border: solid 5px darkred;
  background-color: darkred;
}

.cards.slytherin {
  border: solid 5px darkgreen;
  background-color: darkgreen;
}

.cards.hufflepuff {
  border: solid 5px gold;
  background-color: gold;
}

.cards.ravenclaw {
  border: solid 5px darkblue;
  background-color: darkblue;
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-text {
  color: #fef5e7;
  padding: 0.5rem;
}

.card-text-name {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: bold;
  font-size: 1.4rem;
  color: #f7f7d4;
}

.alternate-names::before {
  content: "•";
}

.message {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  color: darkmagenta;
}

.card-detail {
  display: flex;
  position: relative;
  height: 45vh;
  background-color: lightgrey;
}

.card-detail.gryffindor {
  background-color: darkred;
  color: ghostwhite;
}
.card-detail.slytherin {
  background-color: darkgreen;
  color: ghostwhite;
}
.card-detail.hufflepuff {
  background-color: darkgoldenrod;
  color: ghostwhite;
}
.card-detail.ravenclaw {
  background-color: darkblue;
  color: ghostwhite;
}

.card-detail-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

.card-detail-image {
  width: 30vw;
  margin: 10px;
  height: 240px;
  object-fit: cover;
}

.alive-death-image {
  width: 22px;
  filter: invert(100%);
  display: inline;
}

dl {
  display: flex;
  gap: 5px;
  align-items: center;
}
dt {
  text-decoration: underline;
  font-size: 1rem;
}

.container-alternative-names {
  display: block;
}

.back {
  position: absolute;
  top: 295px;
  right: 25px;
  text-decoration: underline;
  color: gainsboro;
}

.back::before {
  content: "⟪";
  font-weight: bold;
}

@media (min-width: 768px) {
  :root {
    margin: 20px 20px;
  }

  .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards {
    width: 200px;
  }

  .card-detail-image {
    width: 150px;
    margin: 20px;
  }

  .card-detail {
    display: flex;
    position: relative;
    height: 280px;
    width: 730px;
  }

  .card-detail-container {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .container-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }

  .input-and-selects {
    display: flex;
    align-items: center;
    margin: 10px;
  }
}
